$xsm: 400px;
$sm: 600px;
$md: 800px;
$lg: 1000px;
$xlg: 1200px;

.signInForm-flex-container {
	display: flex;
	flex-direction: column;
	margin-left: 10vw;

	.signInForm-input {
		background-color: #1e1f22;
		border: none;
		width: 28.9vw;
		height: 5vh;
		margin-bottom: 10px;
		color: #b5bac0;
		border-radius: 5px;
		padding-left: 10px;

		&:focus-visible {
			outline: none;
		}

		&:hover {
			cursor: text !important;
		}

		@media (min-width: $xsm) and (max-width: $sm) {
			width: 77vw;
		}
	}

	.signInForm-label {
		color: #b5bac0;
		font-size: small;
		margin-bottom: 8px;
		font-weight: bold;
	}

	.signInForm-span {
		color: #fa777c;
		margin-bottom: 8px;
	}

	.star-color {
		color: #f23f42;
	}

	.signInForm-submit-btn {
		width: 29.7vw;
		height: 6vh;
		background-color: #95b8da;
		border: none;
		border-radius: 5px;
		color: white;
		margin: 8px 0px;

		&:hover {
			cursor: pointer;
			background-color: rgba(149, 184, 218, 0.9);
		}

		@media (min-width: $xsm) and (max-width: $sm) {
			width: 80vw;
		}
	}

	.signInForm-forgot-pswd {
		color: rgb(68, 155, 243);
		text-decoration: none;

		@media (min-width: $xsm) and (max-width: $sm) {
			margin: 7px 0px;
		}
	}

	.signInForm-reg-div {
		color: #bfc0c2;
	}

	.signInForm-reg-acc {
		color: rgb(68, 155, 243);
		text-decoration: none;
	}
}
